
.bloco-input label, .bloco-selecao label, .bloco-textarea label {
    color: var(--cor-complemento-texto);
    font-size: 1.4rem;
}

.bloco-input input, .bloco-selecao select, .bloco-textarea textarea {
    background: var(--cor-input-background);
    border: 1px solid var(--cor-linha-no-branco);
    border-radius: 0.8rem;
    font: 1.6rem Archivo;
    height: 5.6rem;
    margin-top: 0.8rem;
    outline: 0;
    padding: 0 1.6rem;
    width: 100%;
}

.bloco-input, .bloco-textarea {
    position: relative;
}

.bloco-textarea textarea{
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize: vertical;
}

.bloco-input:focus-within::after, .bloco-textarea:focus-within::after {
    background: var(--cor-primeiro-suave);
    bottom: 0;
    content: "";
    height: 2px;
    left: 1.6rem;
    position: absolute;
    width: calc(100% - 3.2rem);
}

label small {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: var(--cor-info-pequeno);
}