<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/pagina-inicial.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <title>Proffy | Sua plataforma </title>
    </head>
    <body class="corpo-index">
        <div class="container">            
            <div class="container__logo">
                <img src="img/logo.svg" alt="logo">
                <h2>Sua plataforma de estudos online</h2>
            </div>
            
            <img src="img/landing@3x.png" alt="plataforma de estudos" class="hero-imagem">
                
            <div class="container__botoes">
                <a href="estudo" class="container__botoes___estudo">
                    <img src="img/study.svg" alt="estudar">
                    Estudar
                </a>
                <a href="ensinar" class="container__botoes___ensinar">
                    <img src="img/give-classes.svg" alt="dar aulas">
                    Dar Aulas
                </a>
            </div>
            <p class="container__total-conexoes">
                Total de 285 conexões já realizadas
                <img src="img/purple-heart.svg" alt="coração roxo">
            </p>           
            
        </div>
    </body>
</html>